@font-face {
  font-family: 'FIFASans Regular';
  src: url(./FIFASans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'FIFASans Medium';
  src: url(./FIFASans-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: block;
}